{% extends "kmk.html" %}
{% block extra_head %}
<style>
svg {
  border: 2px solid black;
}
ellipse.node {
  stroke: gray;
  stroke-width: 1.5px;
}
</style>
{% endblock %}
{% block script %}
<script>

var width = 1500, height = 240, marg = 23;

var ns = {
  df: new Date("Fri, 24 Jun 2005 19:21:23 -0700"),
  dt: new Date("Tue, 10 Jan 2006 22:37:21 -0500"),
  w: d3.scale.linear().range([marg, width - marg]),
  h: d3.scale.linear().range([marg, height - marg]),
  day: d3.scale.linear().domain([0, 24 * 60 * 60]),
  rad: d3.scale.linear().range([0, 6.283185307179586]),
  toggle: false,
}

function make_ts() {
  return d3.time.scale().domain([ns.df, ns.dt]);
}

ns.ts = make_ts();

function t2w(d) { return ns.w(ns.ts(d)); }
function t2h(d) { return ns.h(ns.ts(d)); }

var day_of_week = d3.time.format("%w");

function time_of_day(d) {
  return (d.getHours() * 60 + d.getMinutes()) * 60 + d.getSeconds();
}

function dayish(d) { return ns.day(time_of_day(d)); }
function monthish(d) {
  var w = 365.25 / 12;
  var secs_per_day = 24 * 60 * 60;
  var secs_per_month = w * secs_per_day;
  var secs = d.valueOf() / 1000;
  return secs % secs_per_month / secs_per_month;
}
function weekish(d) {
  var secs_per_day = 24 * 60 * 60;
  var secs_per_week = 7 * secs_per_day;
  var secs = d.valueOf() / 1000;
  return secs % secs_per_week / secs_per_week;
}

var km = {};

$(function() {

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height * 2);

var g = svg.append("svg:g");

var labys = g.selectAll('text')
  .data(ns.ts.ticks(23))
.enter().append("text")
  .attr("x", t2w)
  .attr("y", height)
  .attr("transform", function(d) {
      return "rotate(72 " + t2w(d) + " " + height + ")";
  })
  .text(function(d) { return d.toLocaleDateString(); });

d3.json("/static/mailcal.json", function(error, mails) {

  var M = mails['mails'];
  var C = mails['contacts'];

  var contacts = svg.selectAll("circle")
    .data(C)
  .enter().append("circle")
    .each(function(d, i) {
      km[d] = {
        col: d3.hsl(Math.random() * 360, 1, 0.75),
        i: i
      };
    })

  var node = g.selectAll("ellipse.node")
    .data(M)
  .enter().append("ellipse")
    .each(function(d) { d.d = new Date(d['Date']); })
    .attr("class", "node")
    .attr("cx", function() { return Math.random() * width; })
    .attr("cy", function() { return Math.random() * height * 2; })
    .attr("rx", 0.1)
    .attr("ry", 0.1)
    .each(function(d) {

      var angle = ns.rad(monthish(d.d));
      var cosy = Math.cos(angle);
      var siny = Math.sin(angle);

//      var siny = Math.sin(ns.rad(weekish(d.d)));
//      var cosys = Math.sin(ns.rad(weekish(d.d)));

      var x = t2w(d.d) - siny * 15 ; // * (0.5 - ns.ts(d.d));
      var y = height + cosy * height * 0.7;

      d3.select(this)
      .transition()
        .delay(function(d) { return Math.random() * 1000; })
        .duration(function(d) { return 500 + Math.random() * 2000; })
        .ease("circle")
        .attr("class", "node")
        .attr("rx", 3)
        .attr("ry", 10)
        .attr("cx", x)
        .attr("cy", y)
        .style("fill", function(d) {
          return km[d['From']].col;
        });

    });

  node.append("title").text(function(d) { return d["Subject"]; });

});

function aaaa() {
  svg.selectAll("ellipse").transition()
    .duration(1000)
    .attr("cx", function(d) {
      var angle = ns.rad(monthish(d.d));
      return t2w(d.d) + Math.sin(angle) * marg;
    })
    .attr("cy", function(d) {
      var angle = ns.rad(monthish(d.d));
      return height + Math.cos(angle) * height * 0.7;
    })
    .attr("ry", function(d) {
      var angle = ns.rad(monthish(d.d));
      return 15 - Math.abs(Math.sin(angle)) * 12;
    })
    .attr("rx", function(d) {
      var angle = ns.rad(monthish(d.d));
      return 15 - (Math.sin(-angle)) * 12;
    });
}
function bbbb() {
  svg.selectAll("ellipse").transition()
    .duration(1000)
    .attr("cx", function(d) {
      var angle = ns.rad(weekish(d.d));
      return t2w(d.d) ;//- Math.sin(angle) * marg;
    })
    .attr("cy", function(d) {
      return marg + 3 * km[d['From']].i;
    })
    .attr("ry", function(d) {
      return 15 - dayish(d.d) * 12;
    })
    .attr("rx", function(d) {
      return 15 - weekish(d.d) * 12;
    });
}

  $("body").toggle(aaaa, bbbb);
});
</script>
{% endblock %}
{% block body %}
<h1>Hi There!</h1>
{% endblock %}
