<html>
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
{% block extra_head %}{% endblock %}
<script src="/static/d3.v3.js"></script>
<script src="/static/underscore.js"></script>
<script src="/static/jquery-ui-1.9.2/js/jquery-1.8.3.js"></script>
<script src="/static/jquery-ui-1.9.2/js/jquery-ui-1.9.2.custom.js"></script>
<link rel="stylesheet" href="/static/jquery-ui-1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css" />
{% block script %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>

