{% extends "kmk.html" %}
{% block extra_head %}
<style>
svg {
  border: 2px solid black;
}
circle {
  stroke-width: 1.5px;
}
</style>
{% endblock %}
{% block script %}
<script>


//#######################################################################
//  Global namespace.
//#######################################################################

var width = 1500, height = 480, marg = 23;
var half_width = width / 2;
var half_height = height / 2;
var DATA = _.map(_.range(24), function (d) {
  return {
    d: d,
    x: Math.random() * width,
    y: Math.random() * height,
  };
})

var k = d3.scale.linear().domain([0, 23]);
var w = d3.scale.linear().domain([-1, 24]).range([marg, width - marg]);
var rad = d3.scale.linear().domain([0, 24]).range([0.0, 6.283185307179586]);
var deg = d3.scale.linear().domain([0, 24]).range([0.0, 360.0]);
var j = d3.scale.pow().exponent(5).domain([0.0, 1.0]).range([0, 70])

var ns = {
  skewx: 0,
  skewy: 0,
};


$(function() {

//#######################################################################
//  Set up the viewBox and resizing.
//#######################################################################
  var the_svg = $("#pony");
  var aspect = the_svg.width() / the_svg.height();
  $(window).on("resize", function() {
    var the_svg = $("#pony");
    var container = $("#container");
    var targetWidth = container.width();
    the_svg.attr("width", targetWidth);
    the_svg.attr("height", Math.round(targetWidth / aspect));
  }).trigger("resize");


//#######################################################################
//  Create the main group.
//#######################################################################
  var svg = d3.select("svg");
  var g = svg.append("svg:g");


//#######################################################################
//  Each data element gets two groups and a rectangle:
//
//      "hole" for translation
//
//      "lep" for skew
//
//#######################################################################
  var cs = g.selectAll("g.hole")
    .data(DATA)

    .enter().append("svg:g")
      .attr("class", "hole")
      .attr("transform", function(d) {
        return "translate(" + d.x + " " + d.y + ")";
      })

    .append("svg:g")
      .attr("class", "lep")

    .append("svg:rect")
      .attr("width", 30)
      .attr("height", 30 * 1.618)
      .attr("rx", 3)
      .attr("ry", 3)
      .attr("stroke", function(d) {
        return d3.hsl((180.0 + deg(d.d)) % 360.0, 1, 0.5);
      })
      .style("fill", function(d) { return d3.hsl(deg(d.d), 1, 0.75); })
      .attr("transform", "translate(-15 0)")

  var holes = g.selectAll("g.hole");
  var lep = g.selectAll("g.lep");


//#######################################################################
//  Create some nice labels.
//
//  These are inside the skew group so they pick it up, skewed text is so 2013.
//#######################################################################
  lep.append("text")
//    .attr("text-anchor", "middle")
//    .attr("alignment-baseline", "before-edge")
      .attr("y", 17)
      .attr("x", -12)
    .text(function(d) { return "" + d.d; })
    .style("fill", function(d) {
      return d3.hsl((180.0 + deg(d.d)) % 360.0, 1, 0.5);
    })
    ;


//#######################################################################
//  Adjust the skew.
//
//  These are inside the skew group so they pick it up, skewed text is so 2013.
//#######################################################################
  function sky() {
    lep.transition()
      .duration(1000)
      .attr("transform", function(d) {

        var dy = Math.abs(d.y - half_height);
        var dx = Math.abs(d.x - half_width);
        var x_scale = dx / half_width;
        var y_scale = dy / half_height;

        var skewy = j(x_scale);

        // Figure out which quadrant we're in.
        var x = (d.x > half_width);
        var y = (d.y < half_height);

        skewy = ((x && y) || (!x && !y)) ? -skewy : skewy;

        return "scale(" + (1-x_scale) + " 1) skewY(" + skewy + ")";
      });
    return false;
  }

  var lazysky = _.debounce(sky, 250);


//#######################################################################
//  Reset the skew.
//#######################################################################
  function zoomouty() {
    lep.transition()
      .duration(1000)
      .attr("transform", "scale(1 1) skewY(0) skewX(0)");
    return false;
  }

//#######################################################################
//  Set up the controls.
//#######################################################################
  $("#clickit").click(zoomouty);
  $("#clackit").click(sky);

  $("#slider0").slider({
    min: -89,
    max: 89,
    slide: function(event, ui) {
      ns.skewx = $(this).slider("value");
      lazysky();
    },
  });
  $("#slider1").slider({
    min: -89,
    max: 89,
    slide: function(event, ui) {
      ns.skewy = $(this).slider("value");
      lazysky();
    },
  });
  $("#slider2").slider({
    min: -89,
    max: 89,
    slide: function(event, ui) {
      ns.skewx = $(this).slider("value");
      ns.skewy = $(this).slider("value");
      lazysky();
    },
  });

});
</script>
{% endblock %}
{% block body %}
<h1>Hi There!</h1>
<div id="container">
<svg id="pony" width="1500" height="480" viewBox="0 0 1500 480" perserveAspectRatio="xMidYMid"></svg>
<a href="#" id="clickit">unskew</a>
<br>
<a href="#" id="clackit">clack</a>
<br>

<div id="slider0"></div><br>
<div id="slider1"></div><br>
<div id="slider2"></div>


</div>
{% endblock %}
