{% extends "kmk.html" %}
{% block extra_head %}
<style>
svg {
  border: 2px solid black;
}
ellipse.node {
  stroke: gray;
  stroke-width: 1.5px;
}
</style>
{% endblock %}
{% block script %}
<script>

var DATA = _.range(24)
var width = 1500, height = 240, marg = 23;
var k = d3.scale.linear().domain([0, 23]);
var w = d3.scale.linear().domain([-1, 24]).range([marg, width - marg]);
var rad = d3.scale.linear().domain([0, 23]).range([0.0, 6.283185307179586]);
var deg = d3.scale.linear().domain([0, 23]).range([0.0, 360.0]);

$(function() {

  var the_svg = $("#pony");
  var aspect = the_svg.width() / the_svg.height();
  $(window).on("resize", function() {
    var the_svg = $("#pony");
    var container = $("#container");
    var targetWidth = container.width();
    the_svg.attr("width", targetWidth);
    the_svg.attr("height", Math.round(targetWidth / aspect));
  }).trigger("resize");

  var svg = d3.select("svg");
  var g = svg.append("svg:g");

  var cs = g.selectAll("g.hole")
      .data(DATA)
    .enter().append("svg:g")
      .attr("class", "hole")
      .attr("transform", function(d) {
        return "translate(" + w(d) + " " + height + ")";
      })
    .append("svg:circle")
      .attr("r", 15)
      .style("fill", function(d) { return d3.hsl(deg(d), 1, 0.75); })

  var holes = g.selectAll("g.hole");

  function hic() {
    holes.transition()
      .duration(1500)
      .attr("transform", function(d) {
        var x = width / 2 + 130 * Math.sin(rad(d));
        var y = height + 130 * Math.cos(rad(d));
        return "translate(" + x + " " + y + ")";
      })
      ;
    return false;
  }

  function cih() {
    holes.transition()
      .duration(1500)
      .attr("transform", function(d) {
        return "translate(" + w(d) + " " + height + ")";
      })
      ;
    return false;
  }

  function skx() {
    cs.transition()
      .duration(2000)
      .attr("transform", function(d) {
        return "skewX(" + 90 * k(d) + ")";
      });
    return false;
  }

  function zoomoutx() {
    cs.transition()
      .duration(1000)
      .attr("transform", "skewX(0)");
    return false;
  }

  function sky() {
    cs.transition()
      .duration(2000)
      .attr("transform", function(d) {
        return "skewY(" + 90 * k(d) + ") skewX(" + 90 * k(d) + ")";
      });
    return false;
  }

  function zoomouty() {
    cs.transition()
      .duration(1000)
      .attr("transform", "skewY(0)");
    return false;
  }

  $("#zoom").toggle(hic, cih);

  $("#clickit").toggle(skx, zoomoutx)
  $("#clickity").toggle(sky, zoomouty)

});
</script>
{% endblock %}
{% block body %}
<h1>Hi There!</h1>
<div id="container">
<svg id="pony" width="1500" height="480" viewBox="0 0 1500 480" perserveAspectRatio="xMidYMid"></svg>
<a href="#" id="zoom">circle up</a>
<a href="#" id="clickit">skew X</a>
<a href="#" id="clickity">skew X and Y</a>
</div>
{% endblock %}
