{% extends "kmk.html" %}
{% block extra_head %}
<style>
svg {
  border: 1px solid blue;
  margin-bottom: 1em;
}
circle {
  stroke-width: 1.5px;
}
rect.fram {
  stroke-width: 1.5px;
  stroke: pink;
  fill: none;
}
#slider0, #slider1 {
  margin-bottom: 1em;
}
.cntls {
  display: inline-block;
}
</style>
{% endblock %}
{% block script %}
<script>


//#######################################################################
//  Global namespace.
//#######################################################################

var width = 1500, height = 480, marg = 23;
var stack_align = width / 3;
var half_width = width / 2;
var half_height = height / 2;

var wk = d3.scale.linear().range([marg, width - marg]);
var hk = d3.scale.linear().range([marg, height - marg]);

var k = d3.scale.linear().domain([0, 23]);
var w = d3.scale.linear().domain([-1, 24]).range([marg, width - marg]);
var rad = d3.scale.linear().domain([0, 24]).range([0.0, 6.283185307179586]);
var deg = d3.scale.linear().domain([0, 24]).range([0.0, 360.0]);
var j = d3.scale.pow().exponent(5).domain([0.0, 1.0]).range([0, 70])

var history_list = [];


$(function() {

//#######################################################################
//  Set up the viewBox and resizing.
//#######################################################################
  var the_svg = $("#pony");
  var aspect = the_svg.width() / the_svg.height();
  $(window).on("resize", function() {
    var the_svg = $("#pony");
    var container = $("#container");
    var targetWidth = container.width();
    the_svg.attr("width", targetWidth);
    the_svg.attr("height", Math.round(targetWidth / aspect));
  }).trigger("resize");


//#######################################################################
//  Create the main group.
//#######################################################################
  var svg = d3.select("svg");
  var g = svg.append("svg:g");

  g.append("svg:rect")
  .attr("class", "fram")
  .attr("width", width)
  .attr("height", height)
  ;


//#######################################################################
//  Zoom in and out.
//#######################################################################
function zoomin() {
  g.transition()
    .duration(1000)
    .attr("transform", function(d) {
      var scale_factor = 0.68;
      var x = width * scale_factor / 4;
      var y = height * scale_factor / 4;
      return "translate(" + x + " " + y + ") scale(" + scale_factor + ")";
    });
  return false;
}

function zoomout() {
  g.transition()
    .duration(1000)
    .attr("transform", "translate(0 0) scale(1.0)");
  return false;
}


//#######################################################################
//  Graph Stack.
//#######################################################################
function foo(interpreter) {
  history_list.push(interpreter[0]);
  var n = history_list.length;

  var gtick = g.selectAll('g.tick')
    .data(history_list);
    
    gtick.transition()
    .duration(1500)
    .attr('opacity', function(d, i) { return Math.pow(0.88, (n - i)); })
    .attr('transform', function(d, i) {
      var ni = n - i;
      var scale_factor = Math.pow(0.88, ni);
      var rot = -(5 * ni);
      var x = stack_align - ni * (80 * scale_factor);
      var y = 15 * ni;
      return 'translate(' + x + ' ' + y + ') rotate(' + rot + ') scale(' + scale_factor + ')';
    });

    gtick.enter().append('g')
    .attr("class", "tick")
    .attr('transform', 'translate(' + stack_align + ' 15)')
    .selectAll('g')
    .data(function(d) { return d; })
    .enter().append('g')
    .attr("class", "innertic")
    .call(stack_item);
}

function stack_item(stack) {
  if (stack.empty()) { return; };

  var head = d3.select(stack.node());
  var item = head.datum();
  head.append('svg:text')
    .text(function(d) { return "" + d; })
    .style("fill", function(d) {
      if (_.isString(item)) { return d3.hsl(90.0, 1, 0.33) };
      if (_.isNumber(item)) { return d3.hsl(180.0, 1, 0.33) };
      return d3.hsl(270.0, 1, 0.33)
    });

  var tail = stack.select(function(d, i) {
      return (i == 0) ? null : this;
    })
  tail.selectAll('g')
    .data(function(d) { return d; })
    .enter().append('g')
    .attr('transform', 'translate(0 17) scale(.95)')
    .call(stack_item);
}

//#######################################################################
//  Set up the controls.
//#######################################################################

  $("#skew_controls").buttonset();
//  $("#clickit").click(reset_skew);
//  $("#clackit").click(sky);

  $("#zoom").button().toggle(zoomin, zoomout);

  $("#align_controls").buttonset();
//  $("#aligny").click(aligned_em);
//  $("#circy").click(circ_em);
//  $("#resety").click(loc_em);

  $("#slider0").slider({
/*
    min: 0,
    max: 359,
    slide: function(event, ui) {
      ns.huex = $(this).slider("value");
      hueish();
    },
    change: function(event, ui) {
      ns.huex = $(this).slider("value");
      hueish();
    },
*/
  });

  $("#run_command").button();
  $("form").submit(function() {
    var command = $("#commande").val();
    $.post(
      "/step",
      {"command":command},
      function(data) {
//        console.log(data);
        foo(data.result);
      },
      'json'
    );
    return false;
  });

});
</script>
{% endblock %}
{% block body %}
<h1>Hi There!</h1>
<div id="container">
<svg id="pony" width="1500" height="480" viewBox="0 0 1500 480" perserveAspectRatio="xMidYMid"></svg>
<br>

<div class="cntls" id="skew_controls">
<a href="#" id="clickit">unskew</a>
<a href="#" id="clackit">skew</a>
</div>

<a href="#" id="zoom">zoom</a>

<div class="cntls" id="align_controls">
<a href="#" id="aligny">align</a>
<a href="#" id="circy">circle</a>
<a href="#" id="resety">spread</a>
</div>

<br><br>

<div id="slider0"></div>

<div>
<form>
<input id="commande" name="command" type="text" />
<input id="run_command" type="submit" value="run" />
</form>
</div>

</div>
{% endblock %}
